@import '../../colors.css';

.header {
  border-radius: 1rem;
  margin: 2rem 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--header-background-color);
  color: white;
}

.header .logo {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}

.logo h2 {
  margin: 0;
}

.logo img {
  height: 80px;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.header nav ul li a:hover {
  text-decoration: underline;
}