@import '../../../colors.css';

.uv-tile {
  width: 200px;
  height: 250px;
  perspective: 1000px;
  cursor: pointer;
  margin: 20px;
}

.uv-tile .front, .uv-tile .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
  border-radius: 10px;
}

.uv-tile .front {
  background-color: var(--uv-level-background);
}

.uv-tile .back {
  background-color: var(--uv-tile-bg);
  transform: rotateY(180deg);
}

.uv-tile.flipped .front {
  transform: rotateY(180deg);
}

.uv-tile.flipped .back {
  transform: rotateY(0deg);
}
