@import '../../../colors.css';

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 1rem;
}

.features:nth-child(odd) {
  color: var(--background-color-dark);
  background-color: var(--background-color-light);
}

.features:nth-child(even) {
  color: var(--background-color-light);
  background-color: var(--background-color-dark);
}

.features h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.uv-radiation {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.uv-chart-city {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.cityInput {
  margin-top: 1rem;
}

.uv-left-section .feature-name {
  font-size: 2rem;
  margin: 1rem;
}

.uv-left-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.uv-left-section p {
  font-size: 1rem;
  color: var(--light-text-color);
}

.uv-description {
  text-align: justify;
  font-size: small;
}

.scroll-down {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--light-text-color);
}

.low {
  background-color: var(--low-pill);
}

.moderate {
  background-color: var(--moderate-pill);
}

.high {
  background-color: var(--high-pill);
}

.very-high {
  background-color: var(--very-high-pill);
}

.uv-precautions h2 {
  text-align: center;
  font-size: 2.5rem;
}

.uv-precautions {
  width: 100%;
  padding-bottom: 5rem;
}
