@import "./colors.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--background-color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect */
}

a {
  all: unset;
}
