@import '../../colors.css';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: var(--background-color-dark) no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 0 2rem 2rem;
}

.hero-block {
  background-color: var(--hero-block-bg);
  color: var(--hero-block-text);
  border-radius: 1rem;
  padding: 4rem;
}

.hero-block h1 {
  transform: perspective(1500px) rotateX(0deg);
  transition: all 1s ease;
}

.hero-block h1:hover {
  transform: perspective(3000px) rotateX(360deg);
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.hero button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect */
}
